<%= form_with model: dictionary do |form| %>
  <p><%= form.label :title, 'Название словаря' %></p>
  <p><%= form.text_field :title, class: 'dict-input' %></p>
  <p><%= form.submit 'Сохранить словарь', class: 'create-dict-btn' %></p>
<% end %>