<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Page</title>
    <%= stylesheet_link_tag "styletest" %>
</head>
<body>
    <h1 id="dictionary-title"></h1>
    <table id="word-table">
        <thead>
            <tr>
                <th>Слово на английском</th>
                <th>Перевод</th>
                <th>Транскрипция</th>
            </tr>
        </thead>
        <tbody id="word-table-body">
        </tbody>
    </table>

    <form id="add-word-form">
        <label for="english-word">Слово на английском:</label>
        <input type="text" id="english-word" required>
        
        <label for="translation">Перевод:</label>
        <input type="text" id="translation" required>

        <label for="transcription">Транскрипция:</label>
        <input type="text" id="transcription">

        <button type="submit" class="add-btn">Добавить слово</button>
    </form>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const wordTableBody = document.getElementById('word-table-body');
            const dictionaryTitle = document.getElementById('dictionary-title');
            const addWordForm = document.getElementById('add-word-form');

            addWordForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const englishWordInput = document.getElementById('english-word');
                const translationInput = document.getElementById('translation');
                const transcriptionInput = document.getElementById('transcription');

                const englishWord = englishWordInput.value;
                const translation = translationInput.value;
                const transcription = transcriptionInput.value || '';

                addWord(englishWord, translation, transcription);

                englishWordInput.value = '';
                translationInput.value = '';
                transcriptionInput.value = '';
            });

            function addWord(englishWord, translation, transcription) {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${englishWord}</td>
                    <td>${translation}</td>
                    <td>${transcription}</td>
                `;
                wordTableBody.appendChild(row);
            }

            const currentDictionary = localStorage.getItem('currentDictionary');
            dictionaryTitle.textContent = `Слова в словаре "${currentDictionary}"`;
        });
    </script>
</body>
</html>
