<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary</title>
  <%= stylesheet_link_tag "style" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
</head>
<body class="log-reg">
  <div class="register-form">
    <span class="icon-class">
      <a href="index.html">
        <ion-icon name="close-outline"></ion-icon>
      </a>
    </span>
    <form>
      <h2 class="form-title">Register</h2>
      <div class="input-box">
        <input type="email" placeholder="Email" required>
      </div>

      <div class="input-box">
        <input type="password" placeholder="Password" required>
      </div>

      <div class="input-box">
        <input type="password" placeholder="Confirm password" required>
      </div>

      <button type="submit" class="register-btn">Register</button>

      <div class="have-account">
        <p>Have an account? <a href="login.html">Login</a></p>
      </div>
    </form>
  </div>

  

</body>
</html>