<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary</title>
  <%= stylesheet_link_tag "style" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
</head>
<body onload="getRandomWord()">
  <header>
    <nav class="navigation">
        <a href="index.html" id="dictionary-navbar">Your Dictionary</a>
        <a href="card.html" id="learn-navbar">Learn</a>
        <form action="/logout">
          <button class="login-btn">Log Out</button>
        </form>
    </nav>
  </header>

  <div class="words-block">
    <div class="term">
      <h3>Term</h3>
    </div>
  
    <div class="definition">
      <h3>Definition</h3>
    </div>
  
    <div class="button">
      <button id="check-button">Translation</button>
      <button id="next-button">Next Word</button>
    </div>
  </div>
  <script type="text/javascript">
  const term = document.querySelector('.term');
  const definition = document.querySelector('.definition');
  const checkButton = document.querySelector('#check-button');
  const nextButton = document.querySelector('#next-button');
  
  words = {
    "Hello world": "Привет, мир",
    Hi: "Привет",
    "How are you?": "Как дела?",
    "My name is": "Меня зовут"
  };
  
  data = Object.entries(words);
  
  function getRandomWord() {
    randomTerm = data[Math.floor(Math.random() * data.length)];
    term.innerHTML = `<h3>${randomTerm[0]}</h3>`;
    definition.innerHTML = `<h3>${randomTerm[1]}</h3>`;
  }
  
  checkButton.addEventListener('click', function() {
    definition.style.display = 'block';
  });
  
  nextButton.addEventListener('click', function() {
    definition.style.display = "none";
    getRandomWord();
  })
  </script>
</body>
</html>