<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "styletest" %>
</head>
<body>
  <header>
    <nav class="navigation">
        <a href="index.html" id="dictionary-navbar">Your Dictionary</a>
        <a href="card" id="learn-navbar">Learn</a>
        <form action="/logout">
          <button class="login-btn">Log Out</button>
        </form>
    </nav>
  </header>

  <div class="dictionary-container">
    <h1>Список словарей</h1>

    <form id="add-dictionary-form">
        <label for="dictionary-name">Название словаря:</label>
        <input type="text" id="dictionary-name" required>
        <button type="submit">Добавить словарь</button>
    </form>

    <ul id="dictionary-list"></ul>
  </div>  

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      const dictionaryList = document.getElementById('dictionary-list');
      const addDictionaryForm = document.getElementById('add-dictionary-form');

      addDictionaryForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const dictionaryNameInput = document.getElementById('dictionary-name');
        const dictionaryName = dictionaryNameInput.value;

        addDictionary(dictionaryName);
        dictionaryNameInput.value = '';
      });

      dictionaryList.addEventListener('click', function (event) {
        const target = event.target;
        if (target.tagName === 'LI') {
          const dictionaryName = target.textContent;
          openWordPage(dictionaryName);
        }
      });

      function addDictionary(dictionaryName) {
        const listItem = document.createElement('li');
        listItem.textContent = dictionaryName;
        dictionaryList.appendChild(listItem);
      }

      function openWordPage(dictionaryName) {
        localStorage.setItem('currentDictionary', dictionaryName);
        const newPage = window.open('dict', '_blank');
      }
    });
  </script>
</body>
</html>